body {
    background-color: green;
    color: #fff;
    margin: 0;
    padding: 0;


    p {
        color: white;
    }

    .one {
        height: 200px;
    }
    .two{
        height: 10px;
        width: 100%;
        background-color: pink;
    }

}